<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Glassram | Log In</title>
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>
<body>
		<!--  signup page start -->
		<div class="loginsignup">
			<div class="container">
				<div class="row justify-content-between">
					<div class="content-left">
						<h1>GLASS<span>RAM</span></h1>
						<h2>International Trading</h2>
					</div>
					<div class="content-right">
							<div class="button">
								<a href = "/signup"><button class="btn signup">Sign Up</button></a>
								<a href = "/login"><button class="btn login">Log In</button></a>
							</div>
					</div>
				</div>
			</div>
		</div>
		<!-- signup page end -->
</body>
</html>
