<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Glassram | Log In</title>
	<link rel="stylesheet" href="css/login.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>
<body>
		<!--  signup page start -->
		<div class="loginsignup">
			<div class="container">
				<div class="row justify-content-between">
					<div class="content-left">
						<h1>GLASS<span>RAM</span></h1>
						<h2>Lorem ipsum dolor sit amet, consectetur adipiscing.</h2>
					</div>
					<div class="content-right">
						<form method="post">
							<div class="form-group">
								<input type="text" name="email" placeholder="Email address">
							</div>
							<div class="form-group">
								<input type="password" name="pw" placeholder="Password">
							</div>
							<div class="signup">
								<p>Don't have an account? Try <a href="/signup">Signing Up</a>
							</div>
							<div class="login">
								<!--<a href="" class="btn" id="login">log in</a>-->
								<input type="submit" id="submit" value="Log In">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- signup page end -->
</body>
</html>
